<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache">
    <testsuites>
        <testsuite name="Stock Sync Tests">
            <file>tests/Test_Bootstrap_Matcher.php</file>
            <file>tests/Test_Distributor_Registry.php</file>
            <file>tests/Test_Distributor_Vininova.php</file>
            <file>tests/Test_Distributor_Winkolekcja.php</file>
            <file>tests/Test_Standard_Product.php</file>
            <file>tests/test_product_matcher.php</file>
            <file>tests/test_product_updater.php</file>
            <file>tests/test_xlsx_parser.php</file>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">includes/</directory>
            <file>stock-sync.php</file>
        </include>
    </source>

    <coverage>
        <report>
            <html outputDirectory="tests/coverage/"/>
            <clover outputFile="tests/coverage/coverage.xml"/>
        </report>
    </coverage>
</phpunit>
